<!DOCTYPE html>
<html>
    <head>
        <title>Demo animation-book</title>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="import" href="../../bower_components/polymer/polymer.html"/>
        <script src="../../bower_components/platform/platform.js"></script>

                  <link rel="import" href="./animation-book.html">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    </head>
    <body>
        <section>
           <animation-book></animation-book>
         
        </section>
    </body>
</html>
