<!DOCTYPE html>
<html>
    <head>
        <title>Demo core-profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="import" href="../../bower_components/polymer/polymer.html"/>
        <script src="../../bower_components/platform/platform.js"></script>
        <link rel="import" href="./core-profile.html"/>
        <link rel="import" href="../../bower_components/paper-button/paper-button.html"/>
        <link rel="import" href="../../bower_components/paper-input/paper-input.html"/>
        <link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
    </head>
    <body>
        <section>
            <core-profile></core-profile>
        </section>
    </body>
</html>
